/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'base';

html, body {
  height: 100%;
}
.bebe-container {
  display: flex;
  height: 100%;
}
.online-list {
  padding: 0 15px;
  width: 20%;
}
.list-users {
}
.communicate-container {
  width: 80%;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  padding: 10px;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visibility-hidden {
  visibility: hidden;
}
form#chat-box {
  width: 100%;
  bottom: 0;
  height: 100px;
  input[type='text'] {
    width: 100%;
  }
}

#videos {
  height: 300px;
  video {
    width: 50%;
    height: 300px;
  }
}

#chat-messages {
  height: calc(100% - 100px - 300px);
  overflow-y: scroll;
}
#no-video {
  margin-left: 10px;
}
